<template>
    <div class="container text-center">
        <h1>App</h1>

        <form>
            <div class="form-inline">
                <input
                        class="form-control"
                        name="search"
                        id="search"
                        placeholder="Enter Code Here..."
                        v-model="code">
                <button class="btn btn-primary" @click.prevent="search()">Search</button>
            </div>

        </form>

        <div v-if="error" class="alert-danger">
            Search was unsuccessful!
        </div>

        <div v-if="offer">

            <div class="card">
                <div class="card-header">
                    <h3>Offer: {{offer.code}}</h3>
                </div>
                <div class="card-body text-left">
                    <p>Company: {{offer.customer}}</p>
                    <p>Contact Person: {{offer.contact_name}}</p>
                    <p>Products:
                        <ul>
                            <li v-for="product in offer.products">
                                <p><b>{{product.name}}</b> | {{product.price}} | {{product.discount_percentage}}</p>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>
        <div v-else>

            <div class="card">
                <div class="card-header">
                    <h3>No offers!</h3>
                </div>
                <div class="card-body text-left">
                    <p>No offers for this code, please try another.</p>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data(){
            return {
                // thi si the search parameter from the search form
                code: '',
                // this is meant to be an empty object but, i decided to have this here as a default on what you can expect.
                offer: {
                    "code": "some code here",
                    "customer": "come company name here",
                    "contact_name": "person name ",
                    "products": [
                        {
                            "name": "product 1",
                            "price": 12.11,
                            "discount_percentage": 0.00
                        },
                        {
                            "name": "product 2",
                            "price": 302.34,
                            "discount_percentage": 50.00
                        },
                        {
                            "name": "product 3",
                            "price": 456.10,
                            "discount_percentage": 20.00
                        }
                    ],
                    "total": 528.16,
                    "sentTimestamp": "1451814312"
                },
                // this is the indicatore if there was an error or not
                error: false,
            }
        },
        methods:{
            search(){

                //set the url to call the main app
                let url = 'http://195.191.29.170/api/offer/'+this.code;
                // set the headers for the API call
                let headers = {
                    'Access-Control-Allow-Origin': '*',
                    'Content-Type': 'application/json',
                };

                // using axios to perform the ajax call to the main app
                axios.get(url,{ mode: 'no-cors',headers: headers })
                    .then((res) => {
                        this.offer = res.data;
                    })
                    .catch( (error) => {
                            this.error = true;
                            console.log(error);
                        }
                    );
            }
        }
    }
</script>
